.field {
  border-width: calc(max(var(--size) / 20, 3px));
  border-style: outset;
  background: #bdbdbd;

  cursor: pointer;
  font-weight: bold;
  font-size: calc(var(--size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: auto;

  &.open, &.pressed {
    border: 1px solid gray;
    border-top: 0;
    border-left: 0;
  }

  &.suggested:after {
    color: white;
    content: "?";
  }

  &.marked {
  }

  &:before {
    pointer-events: none;
  }

  &.animate:before {
    animation: mines-count 1s;

    counter-reset: count var(--count);
    content: counter(count);
    position: absolute;
    display: block;
    color: white;
    margin-top: calc(.5 * var(--size) * var(--direction));
    visibility: hidden;
  }

  &.around1 { color: #0000ff }
  &.around2 { color: #007b00 }
  &.around3 { color: #CC0000 }
  &.around4 { color: #04047d }
  &.around5 { color: #7b0000 }
  &.around6 { color: #007b7b }
  &.around7 { color: #000000 }
  &.around8 { color: #7b7b7b }
}

@keyframes mines-count {
  from {
    opacity: 1;
    visibility: visible;
  }

  64% {
    opacity: 1;
  }

  to {
    margin-top: calc(4 * var(--size) * var(--direction));
    opacity: 0;
    visibility: hidden;
  }
}